# fanyou aliyun server: webapp
Host fanyou124.ssh
    HostName 8.209.242.124
    User webapp
    IdentityFile ~/.ssh/certs/id_fanyou124_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_HOST %h %p
    ServerAliveInterval 20
    Compression yes

# fanyou codeup
Host fy.codeup.aliyun.com
    HostName codeup.aliyun.com
    User git
    IdentityFile ~/.ssh/certs/id_codeup_fanyou_ed25519
    ServerAliveInterval 20
    Compression yes
