# fanyou aliyun server: webapp
Host fanyou124.ssh
    HostName 8.209.242.124
    User webapp
    IdentityFile ~/.ssh/certs/id_fanyou124_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_PORT %h %p
    ServerAliveInterval 20
    Compression yes

Host 8.209.242.124
    User webapp
    IdentityFile ~/.ssh/certs/id_fanyou124_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_PORT %h %p
    ServerAliveInterval 20
    Compression yes

# fanyou aliyun server: lemon
Host fanyou90.ssh
    HostName 47.245.12.90
    User lemon
    IdentityFile ~/.ssh/certs/id_fanyou_platform_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_PORT %h %p
    ServerAliveInterval 20
    Compression yes

Host 47.245.12.90
    User webapp
    IdentityFile ~/.ssh/certs/id_fanyou_platform_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_PORT %h %p
    ServerAliveInterval 20
    Compression yes

# fanyou aliyun server: root
Host fanyou76.ssh
    HostName 8.209.222.76
    User root
    IdentityFile ~/.ssh/certs/id_fanyou_platform_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_PORT %h %p
    ServerAliveInterval 20
    Compression yes

Host 8.209.222.76
    User root
    IdentityFile ~/.ssh/certs/id_fanyou_platform_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_PORT %h %p
    ServerAliveInterval 20
    Compression yes

# fanyou codeup
Host fy.codeup.aliyun.com
    HostName codeup.aliyun.com
    User git
    IdentityFile ~/.ssh/certs/id_codeup_fanyou_ed25519
    ServerAliveInterval 20
    Compression yes
