Host alex-1900.github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/certs/id_github_alex_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_HOST %h %p
    ServerAliveInterval 20
    Compression yes

Host ann21st.github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/certs/id_github_ann_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_HOST %h %p
    ServerAliveInterval 20
    Compression yes

Host mime.codeup.aliyun.com
    HostName codeup.aliyun.com
    User git
    IdentityFile ~/.ssh/certs/id_mime_ed25519
    ServerAliveInterval 20
    Compression yes

Host banwagong.ssh
    HostName 66.112.215.31
    User root
    IdentityFile ~/.ssh/certs/id_mime_ed25519
    ProxyCommand nc -x $PROXY_HOST:$PROXY_SOCK_HOST %h %p
    ServerAliveInterval 20
    Compression yes
